---
import Layout from '../layouts/Layout.astro';
import { Sidebar } from '../components/sidebar';
import { HeroSection } from '../components/hero-section';
import { AboutSection } from '../components/about-section';
import { ExperienceSection } from '../components/experience-section';
import { ProjectsShowcaseSection } from '../components/projects-showcase-section';
import { GithubSection } from '../components/github-section';
import ApplicationsSection from '../components/ApplicationsSection.astro';
import { ToolsSection } from '../components/tools-section';
import { ContactSection } from '../components/contact-section';
---

<Layout>
	<div class="flex min-h-screen">
		<Sidebar client:load />
		<main class="flex-1 lg:ml-64">
			<HeroSection client:visible />
			<AboutSection client:visible />
			<ExperienceSection client:visible />
			<ProjectsShowcaseSection client:load />
			<GithubSection client:visible />
			<ApplicationsSection />
			<ToolsSection client:load />
			<ContactSection client:visible />
		</main>
	</div>
</Layout>
